body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: #464646;
}

div#header {
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 20;
  background-color: #ffffff;
  width: 100%;
}

div#log {
  overflow: auto;
  height: 100%;
  width: 100%;
  line-height: 1.2em;
  color: #464646;
}
